@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-black.eot');
  src: url('../fonts/lato/lato-black.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-black.woff') format('woff'), url('../fonts/lato/lato-black.ttf') format('truetype'), url('../fonts/lato/lato-black.svg#latoblack') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-bold.eot');
  src: url('../fonts/lato/lato-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bold.woff') format('woff'), url('../fonts/lato/lato-bold.ttf') format('truetype'), url('../fonts/lato/lato-bold.svg#latobold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-bolditalic.eot');
  src: url('../fonts/lato/lato-bolditalic.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bolditalic.woff') format('woff'), url('../fonts/lato/lato-bolditalic.ttf') format('truetype'), url('../fonts/lato/lato-bolditalic.svg#latobold-italic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-italic.eot');
  src: url('../fonts/lato/lato-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-italic.woff') format('woff'), url('../fonts/lato/lato-italic.ttf') format('truetype'), url('../fonts/lato/lato-italic.svg#latoitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-light.eot');
  src: url('../fonts/lato/lato-light.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-light.woff') format('woff'), url('../fonts/lato/lato-light.ttf') format('truetype'), url('../fonts/lato/lato-light.svg#latolight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-regular.eot');
  src: url('../fonts/lato/lato-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-regular.woff') format('woff'), url('../fonts/lato/lato-regular.ttf') format('truetype'), url('../fonts/lato/lato-regular.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Flat-UI-Icons";
  src: url('../fonts/flat-ui-icons-regular.eot');
  src: url('../fonts/flat-ui-icons-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/flat-ui-icons-regular.woff') format('woff'), url('../fonts/flat-ui-icons-regular.ttf') format('truetype'), url('../fonts/flat-ui-icons-regular.svg#flat-ui-icons-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html, body {
height: 100%;
}


/*******************
 * Reset style
 * *****************
 */
li { list-style:none; }
input, button, textarea { outline: none; border: none; }
a,
a:focus,
a:active,
select,
button,
button:active,
button:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus,
input { outline: none; }
textarea { resize: vertical; }

a {
	-webkit-transition: all .1s;
    transition: all .1s;
}
iframe {
    border: 0;
    outline: 0;
    width: 100% !important;
}
label:not(.login-field-icon) {
    line-height: normal !important;
    color: #333;
    font-weight: bold !important;
}
select {
    /*border: 2px solid #E6E6E6 !important;
    background: transparent;
    color: #5A5A5A;*/
   width: 100%;
  padding: 6px 5px 6px 8px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  line-height: normal !important;
  color: #5A5A5A;
  border: 2px solid #E6E6E6;
  background-color: #fff  !important;
  background-repeat: no-repeat;
  background-position: 99.5% 50%  !important;
  background-image: url('../img/arrow.png')  !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-indent: 0.01px;
  text-overflow: '';
}

input[type='file'] {
  opacity:0;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  outline: none;
  cursor: inherit;
  font-size: 100px;
}

::selection{ background-color: #F00; color: white; }
::moz-selection{ background-color: #F00; color: white; }
::webkit-selection{ background-color: #F00; color: white; }

/******************************
 * Miscellaneous Utilities
 * ***************************
 */
body a {
    color: #F00;
}
.color-default {
   color: #F00 !important;
}
a:hover, a:focus {
    color: #F00;
    text-decoration: underline;
}
.displayBlock {
    display: block !important;
}
.display-none {
    display: none;
}
.displayInline {
    display: inline;
}
.font-default {
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
}
.strongSpan {
    font-weight: bold;
}
.col-pb {
    margin-bottom: 25px;
}
.mg-bottom-xs {
     margin-bottom: 5px;
}
.border-top {
 border-top: 1px solid #DDD;
}
.pos-relative {
    position: relative;
}
.sm-font {
    font-weight: normal;
}
.sm-date {
    color: #999;
}
.border-group {
    border:none;
    border-radius: 0 !important;
}
.bg-color-none {
    background-color: transparent;
}
.li-group {
    border-bottom: 1px solid #DDD;
}
.li-group-msg {
    border-bottom: 1px solid #CFCFCF;
}
.li-group:last-child,
.li-group-msg:last-child {
    border-bottom: none;
}
.text-col {
    margin-bottom: 5px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 17px;
}
.topbar > li.dropdown .open > a {
    color: #FFF;
}
.topbar > li > a {
    font-size: 16px !important;
}
.text-decoration-none {
    text-decoration: none !important;
}
.notify {
    z-index: 10;
    top: 5px;
    right: 10px;
    position:absolute;
    padding: 3px 6px 3px 6px;
    background: #F00;
    color: #FFF;
    line-height: normal;
    font-weight: bold;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    border-bottom: 1px solid #DADADA;
    font-size: 11px;
}
.notifyResponsive {
	top: -5px  !important;
    right: 0  !important;
}
#noti_msg,
#noti_connect { display: none; }

.border-stats {
    border: 1px solid #DADADA;
    border-right-width: 0;
}
.border-stats:first-child {
    border-left-width: 0;
}
a.heading-link {
    background-color: #f5f6f8;
}
.btn-df {
    margin-bottom: 10px;
}
.row-margin-20 {
    margin-bottom: 20px;
}
.btn-border {
    border: 1px solid #DDD !important;
    margin-bottom: 5px;
}
.btn-border.btn-info {
    border-color: #3498db !important;
}
.btn-border.btn-success  {
    border-color: #00AF4A !important;
}
.title-dropdown {
    display: none;
    font-weight: normal;
    font-size: 12px;
}
i.dropdown-ic {
    display: none;
}

.btn-default.btn-df:hover,
.btn-default.btn-df:focus,
.btn-default.btn-df:active,
.btn-default.btn-border:hover,
.btn-default.btn-border:focus,
.btn-default.btn-border:active {
    color: #333 !important;
}
.size-icon {
    font-size: 9px;
    vertical-align: text-top;
}
.size-icon-popover {
    font-size: 7px;
    vertical-align: text-top;
}
.border-image-profile {
    border: 4px solid rgba(255,255,255,0.3);
}
i.verified {
    color: #5890FF;
    font-size: 20px;
    text-shadow: none;
    background: #FFF;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 1px 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .8);
}
i.verified-min {
    font-size: 14px;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.myicon-right {
    margin-right: 4px;
}
.more-button {
    font-size: 5px !important;
}
.size-chevron {
    font-size: 11px;
}
.btn-group.button-group-status > button {
    border: none !important;
    color: #333;
}
.btn-group.button-group-status > button.btn-link:hover,
.btn-group.button-group-status > button.btn-link:focus {
  color: #1A75BC;
  text-decoration: none;
  background-color: transparent;
}
.text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.padding-sm {
    padding: 0 0 15px 0;
}
.padding-tp {
    padding-top: 10px;
}
.padding-left-group {
    padding-left: 10px;
}

.min-height-bd {
    min-height: 250px;
}

.border-top-sm {
    border-top: 1px solid #DDD;
}
.margin-tp {
    margin-top: 5px;
}
.margin-top-alert {
    margin-top: 20px;
}
.margin-lft5 {
   margin-left: 5px;
}
/*.navbar-form > .form-group > input.form-control {
    padding-right: 33px !important;
}*/
/*******************
 * Background none
 * *****************
 */
.bg-none {
    background: none !important;
}
/*******************
 * Border none
 * *****************
 */
.border-none {
    border: none !important;
}
/*******************
 * Margin Zero
 * *****************
 */
.margin-zero {
    margin: 0 !important;
}
.margin-bottom-zero {
    margin-bottom: 0 !important;
}
.margin-top-zero {
    margin-top: 0 !important;
}
.margin-right-zero {
    margin-right: 0 !important;
}
.margin-left-zero {
    margin-left: 0 !important;
}
/*******************
 * Padding Zero
 * *****************
 */
.padding-zero {
    padding: 0 !important;
}
.padding-right-zero {
    padding-right: 0 !important;
}
.padding-left-zero {
    padding-left: 0 !important;
}
.padding-bottom-zero {
    padding-bottom: 0 !important;
}
.padding-top-zero {
    padding-top: 0 !important;
}
/*******************
 * Margin Default
 * *****************
 */
.margin-top-5 {
	 margin-top: 5px !important;
}
.margin-top-10 {
    margin-top: 10px !important;
}
.margin-top-15 {
    margin-top: 15px !important;
}
.margin-top-20 {
    margin-top: 20px !important;
}
.margin-top-30 {
    margin-top: 30px !important;
}
.margin-top-40 {
    margin-top: 40px !important;
}
/* Bottom */
.margin-bottom-5 {
	 margin-bottom: 5px !important;
}
.margin-bottom-10 {
    margin-bottom: 10px !important;
}
.margin-bottom-15 {
    margin-bottom: 15px !important;
}
.margin-bottom-20 {
    margin-bottom: 20px !important;
}
.margin-bottom-30 {
    margin-bottom: 30px !important;
}
.margin-bottom-40 {
    margin-bottom: 40px !important;
}
/*******************
 * Padding Default
 * *****************
 */
.padding-right-20 {
    padding-right: 20px;
}
.padding-top-10 {
    padding-top: 10px !important;
}
.padding-top-20 {
    padding-top: 20px !important;
}
.padding-top-30 {
    padding-top: 30px !important;
}
.padding-top-40 {
    padding-top: 40px !important;
}
.padding-bottom-15 {
    padding-bottom: 15px !important;
}
.padding-bottom-10 {
    padding-bottom: 10px !important;
}
.padding-bottom-20 {
    padding-bottom: 20px !important;
}
.padding-bottom-30 {
    padding-bottom: 30px !important;
}
.padding-bottom-40 {
    padding-bottom: 40px !important;
}
/***************************
 * Background
 * *************************
 */
body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  background-color: #f7f7f7;
}
/***************************
 * Background Error
 * *************************
 */
body#bg-error {
    background: #F7F7F7;
    background-size: cover;
}
/***************************
 * Menu top
 * *************************
 */
.menu-top {
	font-size: 12px;

}

.navbar-inverse .navbar-nav > .open > a.menu-top {
	background: none !important;
}
.navbar-inverse .navbar-nav > li > a.menu-top:hover,
.navbar-inverse .navbar-nav > li > a.menu-top:focus {
	color: #B8B8B8;
	background-color: transparent;
}
.navbar-inverse .navbar-nav >
.dropdown > a .caret-menu-top {
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
}
ul.dropdown-menu > li.active > a {
	color: #FFF !important;
}

/***************************
 * Menu home
 * *************************
 */
.menu-home-dropdown li {
	width: 50%;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.menu-home-dropdown li > a {
 	white-space: nowrap;
 	text-overflow: ellipsis;
 	overflow: hidden;
 	font-size: 13px;
 }

 .menu-home-dropdown-user li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.menu-home-dropdown-user li > a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
 }
/***************************
 * Dropdown options
 * *************************
 */
.dropdown-home {
	width: 270px;
}
.dropdown-user {
    width: 320px;
}
.dropdown-settings,
.dropdown-nav-session,
.nav-session {
    width: 180px;
}
.label-terms {
	color: #000;
	font-weight: normal;
	font-size: 13px;
}
/***************************
 *  Checked Icon
 * *************************
 */
#checkedIcon {
	background: #FFF;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
/***************************
 *  Facebook login
 * *************************
 */
.facebook-login {
	margin: 10px 0 10px;
}
.facebook-login > a.fb-button {
	background-color: #3b5998;
}

/***************************
 *  Arrow dropdown user
 * *************************
 */
.dropdown-menu.arrow-up-user:before {
    position: absolute;
    top: -10px;
    right: 13px;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ddd;
    border-left: 10px solid transparent;
    content: '';
}
.dropdown-menu.arrow-up-user:after {
    position: absolute;
    top: -8px;
    right: 13px;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FFF;
    border-left: 10px solid transparent;
    content: '';
}
/***************************
 * Arrow dropdown top
 * *************************
 */
.dropdown-menu.arrow-top:before {
    position: absolute;
    top: 67px;
    right: 64px;
    display: inline-block;
    border-right: 10px solid transparent;
    border-top: 10px solid #ddd;
    border-left: 10px solid transparent;
    content: '';
}
.dropdown-menu.arrow-top:after {
    position: absolute;
    top: 66px;
    right: 64px;
    display: inline-block;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    content: '';
}
/***************************
 * Dropdown Settings
 * *************************
 */
.dropdown-settings {
    border: 1px solid #ddd !important;
    background-color: #fff !important;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.dropdown-nav-session {
    border: 1px solid #2A2A2A !important;
    background-color: #2A2A2A !important;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.li-group-nav {
    border-bottom: 1px solid #2C2C2C;
}
.image-dropdown {
    width: 48px;
    height: 48px;
}
/***************************
 * Button Search
 * *************************
 */
#buttonSearch,
#buttonSearch-2 {
    color: #DDD;
    width: 35px;
    background: none;
    height: 44px;
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
    outline: none;
}
#buttonSearch:hover,
#buttonSearch-2:hover {
    color: #999;
}
/***************************
 * Index Header
 * *************************
 */
.index-header {
    /*padding-top: 140px !important;*/
    background: url('../img/header_index.jpg') no-repeat center center #D1D1D1;
    background-size: cover;
    position:relative;
}
/***************************
 * Static Header
 * *************************
 */
.static-header {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    background: url('../img/header.jpg') no-repeat center center #D1D1D1;
    background-size: cover;
    position:relative;
}
.static-header h1 {
    color: #FFF;
    font-size: 35px;
    text-shadow: 0 2px 4px #000;
}
.link-home,
.static-header small {
    color: #FFF;
    font-size: 15px;
}
.link-small {
    color: #333;
    font-size: 15px;
    font-weight: normal;
}
/***************************
 * Static Header PROFILE
 * *************************
 */
.static-header-profile {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    background-size: cover;
    position:relative;
}
.static-header-profile h1,
.static-header-profile a.linkUser,
.static-header-profile a.linkUser:hover,
.static-header-profile a.linkUser:active,
.static-header-profile a.linkUser:focus {
    color: #fff;
    font-family: "Kaushan Script",cursive;
    font-weight: bold;
    margin-top: 20px !important;
    overflow: visible;
    text-overflow: inherit;
    text-shadow: 0 3px #000;
    white-space: normal;
    font-size: 25px;
    text-decoration: none;
}
/***************************
 * Shadow
 * *************************
 */
.shadow {
    width: 100%;
    float: left;
    height: 150px;
    background: url('../img/shadow.png') bottom left repeat-x;
    position: absolute;
    bottom: 0;
    left: 0;
}
/***************************
 * User Options profile
 * *************************
 */
.user-data {
    padding-top: 165px;
}
.user-data .media-heading {
    color: #FFF;
    font-size: 28px;
    text-shadow: 0 1px 4px rgba(0, 0, 0, .8);;
}
.user-data .text-col {
    color: #FFF;
    text-shadow: 0 1px 4px rgba(0, 0, 0, .8);;
}
.user-data .text-col > small > a {
    font-size: 15px;
    color: #FFF;
}
.user-details {
    padding-top: 25px;
    line-height: normal;
}
.name-user {
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

/***************************
 * List Grid
 * *************************
 */
.list-grid {
    padding: 0;
    margin-top: 10px;
}

.list-grid > li > a > img {
  width: 32% !important;
  float: left;
  margin: 0 6px 5px 0;
}
.list-grid > li > a > img:hover {
  opacity: .9;
}

ul.list-grid li:nth-child(3n+3) > a > img:not(.photo-thumb) {
 margin-right: 0 !important;
}

/***************************
 * List Grid Photo Galery
 * *************************
 */
.list-grid > li > a > img.photo-thumb {
  width: 19% !important;
  float: left;
  margin: 0 1.2% 1% 0;
}
.list-grid > li > a > img:hover {
  opacity: .9;
}

ul.list-grid li:nth-child(5n+5) > a > img.photo-thumb {
 margin-right: 0 !important;
}

/***************************
 * List Grid User
 * *************************
 */
.list-grid-user {
    padding: 0;
    margin-top: 10px;
}

.list-grid-user > li > a > img {
  width: 22% !important;
  float: left;
  margin: 0 13px 5px 0;
}
.list-grid-user > li > a > img:hover {
  opacity: .9;
}

ul.list-grid-user li:nth-child(4n+4) > a > img {
 margin-right: 0 !important;
}

/***************************
 * List Grid Block
 * *************************
 */
.list-grid-block > li > a {
  display: block;
}
.list-grid-block {
    margin: 0;
    overflow: hidden;
}
/***************************
 * Panel
 * *************************
 */
.title-panel-ms {
    font-size: 18px;
}
.list-group-ms {
    padding: 0 10px 0 0;
    border: 1px solid #DDD !important;
}
.list-panel-df {
    margin-bottom: 5px;
}
.list-panel-df > a {
    font-size: 18px;
    padding: 5px 3px;
}
.grid-panel-title {
    line-height: 20px;
    padding-top: 15px;
    background: #FFF !important;
}
.col-padding-bot {
    padding-bottom: 15px;
}
.text-space-wrap {
    white-space: normal !important;
}
.text-dd-mm {
    text-indent: 15px;
    padding: 5px 0;
    border-bottom: 1px solid #E6E6E6;
    line-height: 25px;
    color: #999;
}
.text-dd-mm small {
    font-size: 11px;
}
.text-dd-mm:last-child {
    border: none;
}
.margin-top-mv {
    margin-top: 15px;
}
a.font-grid {
 font-size: 20px;
}
.sm-btn-size {
    font-size: 13px !important;
}

.input-search-sm {
    border-right-width: 0 !important;
}
.btn-search-sm {
    line-height: 19px !important;

}
.btn-search-sm:hover {
    border-color: #bdc3c7 !important;
}
.media-nowrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.ico-float-right {
    margin-right: 10px;
    width: 16px;
    display: inline-block;
    text-align: center;
}
.user-search {
    color: #1A75BC;
}
.place-search {
    color: #0F8F04;
}
.pages-search {
    color: #F60;
}
a.list-group-item.active-list {
    color: #555;
    text-decoration: none;
    background-color: #fff;
    font-weight: bold;
}
.color-font {
    color: #999;
}
.links-sm {
    display: block;
}
.links-sm strong {
    color: #333;
}
a:hover.links-sm {
    text-decoration:none;
}

.block-sm {
    display: block;
}
.text-link {
    font-size: 10px;
}

/***************************
 *  Charts
 * *************************
 */
#chart1,
#chart2,
#chart3,
#chart4 {
    height: 250px;
}
svg {
    width: 100% !important;
}

/***************************
 *  Error pages styles
 * *************************
 */
.title-error {
    font-size: 110px;
    color: #333;
    text-overflow: inherit;
    overflow: visible;
    white-space: normal;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
}
.title-error span {
    color: #F00;
    font-size: 150px;
}
.subtitle-error {
    font-size: 20px;
    color: #333;
}
.icon-error {
    font-size: 170px;
    color: #999;
}
.currentPage {
    border-radius: 50px;
    background: #0b59ae;
    padding: 10px 15px;
    color: #FFF;
}
/*****************************
 *  Others
 * **************************
 */
.w_text {
    font-family: 'Kaushan Script', cursive;
    color: #FFF;
    text-shadow: 0 3px #000;
    text-overflow: inherit;
    overflow: visible;
    white-space: normal;
    font-weight: bold;
    text-align: center;
    margin-top: 20px !important;
    word-break: break-word;
}
.jumbotron p.subtitle {
    font-size: 22px;
}
.jumbotron p.subtitle-user {
    font-size: 15px;
    word-break: break-word;
}
.border-total {
    border-radius: 50px !important;
    -webkit-border-radius: 50px !important;
}
h1 {
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.title-services {
    font-size: 15px;
}
a.item-link,
a:hover.item-link,
a:active.item-link,
a:focus.item-link {
    color: #333;
}
a:hover.link-user-profile,
a:focus.link-user-profile,
a:active.link-user-profile {
    text-decoration: none;
}
.thumbnail:hover {
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
            transition: all .3s ease;
            border-bottom-color: #F40808;
}
.paginator-style {
    width: 100%;
    text-align: center;
}
.link-footer {
    font-size: 13px;
    color: #999;
}
.number-services {
    font-size: 18px;
    color: #333;
}
.btn-like,
.btn-all-ui {
    cursor: pointer;
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.34);
}
.title-item {
    font-size: 25px;
}
.none-overflow {
    text-overflow: inherit !important;
    overflow: visible !important;
    white-space: normal !important;
    word-wrap: break-word !important;
    word-break: break-word !important;
}
.media-designer {
    padding-bottom: 15px;
    border-bottom: 1px solid #CECECE;
}
.col-md-8  div.media-designer:last-child {
    border: none;
}
.list-designer > li {
    color: #999;
}
.list-designer > li > strong {
    color: #666;
}
a:hover.image-thumb > img {
    opacity: 0.8;
}
.padding-middle {
    padding-top: 20px;
    padding-bottom: 20px;
}
.wrap-error {
    margin-top: 50px;
}
.wrap-ui {
    margin-top: 30px;
    margin-bottom: 15px;
}
.img-avatar-services {
    margin: 0 !important;
    display: inline-block !important;
}

.footer-main {
	float: left;
    width: 100%;
    background-color: #FFF;
    padding: 30px 0;
    border-top: 1px solid #ddd;
}
.subfooter {
    background-color: #f7f7f7;
    color: #797979;
    float: left;
    width: 100%;
}
.margin-tp-xs {
    margin-top: 10px;
}
.ico-social {
    font-size: 24px;
    color: #999;
}
.col-thumb {
    margin-bottom: 10px;
}
a.no-shadow {
    text-shadow: none;
}
ul.nav-user-profile > li > a,
ul.nav-user-profile-wall > li > a {
    font-size: 12px;
    font-weight: normal !important;
    color: #333;
    border: none !important;
}
ul.nav-user-profile > li > a:not(.toggle-list):hover,
ul.nav-user-profile-wall > li > a:hover,
ul.nav-user-profile > li.active > a,
ul.nav-user-profile-wall > li.active > a,
ul.nav-user-profile-wall > li.active > a:hover,
ul.nav-user-profile > li.active > a:hover {
    background-color: transparent !important;
    box-shadow: inset 0 -4px #F40808;
    border-radius: 0;
    color: #333;
}
/*.nav-user-profile {
    display:table;
    margin:0 auto;
}*/

.user-profile-avatar {
    position: absolute;
    bottom: -10px;
    z-index: 100;
    left: 42%;
}

.border-avatar-profile {
    border: 5px solid rgba(255, 255, 255, 0.3);
}
.ui-container-cover {
    max-height: 300px;
    height: 275px;
}

.panel-user {
    background: none;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.bio-user {
    line-height: 22px;
    width: 70%;
    margin: 10px auto;
}
a.btn-join {
    background-color: transparent;
    border: 2px solid #FFF;
    margin-top: 10px;
    text-transform: uppercase;
}
a:hover.btn-join,
a:focus.btn-join,
a:active.btn-join {
    background-color: #F40808;
    border: 2px solid #F40808
}
.no-result {
    color: #777;
    word-wrap: break-word;
}
.color-no-result {
    color: #999 !important;
}
a.btn-postjob {
     background-color: transparent;
     border: 2px solid #FFF;
}
.nav-p {
    margin-bottom: 20px;
}
.desc-footer {
    width: 50%;
    margin: 10px auto 0;
}
.no-show {
    left: -99999px;
}
button.btn-sort,
a.btn-sort {
    background-color: #F40808;
}
button.btn-sort:hover,
button.btn-sort:focus,
button.btn-sort:active,
a:hover.btn-sort,
a:focus.btn-sort,
a:active.btn-sort {
    background-color: #333;
}
.font-normal {
    font-weight: normal;
}
a.links-ds {
    color:#747474;
}
a:hover.links-ds,
a:focus.links-ds,
a:active.links-ds {
    color:#333;
    text-decoration: none;
}
button.btn-follow {
    background: transparent;
    color: #F00;
    padding: 4px 15px;
    border: 1px solid #F00;
}
button.btn-settings {
    background: #5C5C5C;
    color: #FFF;
    padding-bottom: 4px;
    padding-top: 4px;
}
button.btn-follow-lg,
a.btn-follow-lg {
    background: transparent;
    color: #FFF !important;
    padding: 7px 30px;
    border: 1px solid #FFF;
    margin: 10px 0;
}

button:hover.btn-follow-lg,
button:focus.btn-follow-lg,
button:active.btn-follow-lg,
a:hover.btn-follow-lg,
a:focus.btn-follow-lg,
a:active.btn-follow-lg {
    background: #F40808;
    color: #FFF !important;
    border: 1px solid #F40808;

}
button.btn-more-lg {
    background: transparent;
    color: #FFF;
    padding: 7px 10px;
    border: 1px solid #FFF;
    margin: 10px 0 10px 5px;
}

button:hover.btn-more-lg,
button:focus.btn-more-lg,
button:active.btn-more-lg {
    background: #FFF;
    color: #333;
    border: 1px solid #F8F8F8;

}

button:hover.btn-follow,
button:focus.btn-follow,
button:active.btn-follow {
    background: #F00;
    color: #FFF !important;
    border: 1px solid #F00;
}
.btn-pro-xs {
    background-color: #999 !important;
    line-height: normal;
    position: relative;
    font-family: Arial, sans-serif;
    margin-top: 2px;
}
a:hover.btn-pro-xs,
a:focus.btn-pro-xs,
a:active.btn-pro-xs {
    background-color: #F40808 !important;
    line-height: normal;
}

.btn-pro-xs-active {
    background-color: #F40808 !important;
    line-height: normal;
    position: relative;
    font-family: Arial, sans-serif;
    margin-top: 2px;
}

.btn-team-xs {
    background-color: #999 !important;
    line-height: normal;
    position: relative;
    font-family: Arial, sans-serif;
    margin-top: 2px;
}
a:hover.btn-team-xs,
a:focus.btn-team-xs,
a:active.btn-team-xs {
    background-color: #01A7B5 !important;
    line-height: normal;
}

.p-author {
    line-height: normal;
}
.user-no-result {
    margin-bottom: 40px;
}
.menu-settings,
.user-list-nav {
    right: -5px !important;
    left: inherit;
}
.dropdown-menu.menu-settings:before {
    position: absolute;
    top: -10px;
    right: 8px;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ddd;
    border-left: 10px solid transparent;
    content: '';
}
.dropdown-menu.menu-settings:after {
    position: absolute;
    top: -8px;
    right: 8px;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FFF;
    border-left: 10px solid transparent;
    content: '';
}
/* user-list-nav */
.dropdown-menu.user-list-nav:before {
    position: absolute;
    top: -10px;
    right: 24px;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ddd;
    border-left: 10px solid transparent;
    content: '';
}
.dropdown-menu.user-list-nav:after {
    position: absolute;
    top: -8px;
    right: 24px;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FFF;
    border-left: 10px solid transparent;
    content: '';
}
.block-div {
    display: inline-flex;
    display: -webkit-flex;
    display: -webkit-inline-flex;
}
.no-result-mg {
    margin-bottom: 20px;
    margin-top: 30px;
}
.login-form {
    padding: 24px 23px 20px;
    position: relative;
    border-radius: 3px;
    max-width: 350px;
    margin: 25px auto 45px;
}

.login-form label {
    color: #000;
}
.login-form:before {
  content: '';
  height: 0;
  position: absolute;
  left: -12px;
  top: 35px;
  width: 0;
  /* -webkit-transform: rotate(360deg); */
}

body#join-section {
    background: url('../img/bg-join.jpg') #333 no-repeat fixed;
    background-size: cover;
}
.join-title {
    color: #FFF;
}
.media-jobs {
    overflow: visible;
}
.media-jobs .media-left,
.media-jobs .media-right,
.media-jobs .media-body {
  display: table-cell;
  vertical-align: top;
  padding-right: 10px;
}
.media-jobs .media-heading {
    font-size: 15px;
}
.job-image {
    position: relative;
    margin-left: -30px;
    width: 64px;
    height: 64px;
}
.hiring {
    font-weight: normal;
}
a.item-jobs:hover,
a.item-jobs:focus,
a.item-jobs:active {
    box-shadow: inset 0 -2px #F40808;
    -webkit-box-shadow: inset 0 -2px #F40808;
}
a.item-jobs:hover h4 strong {
    color: #F40808;
}
.jobs-date {
      position: absolute;
      right: 15px;
      top: 50%;
}
a:hover.recover,
a:focus.recover,
a:active.recover,
.keep-login-title,
.text-form {
    color: #000;
}
.keep-login-title {
    font-weight: normal;
}
.icheck>label {
    padding-left: 0;
}
.shadow-inset {
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.2);
}
.count-list-toggle {
    line-height: normal;
    font-weight: bold;
}
.no-following-yet {
    margin: 50px 0;
}
.no-following-yet h2,
.no-following-yet h5 {
    color: #777;
    word-wrap: break-word;
}
.counterBio    {
    position: absolute;
    right: 15px; bottom: -25px;
    font-size: 14px;
    color: #999;
}
.warning       { color: #FF7000; font-weight: bold; }
.exceeded      { color: #F00; font-weight: bold; }

#bio,
#description {
    resize: vertical;
}
.errors-account {
    margin: 15px 0 0 0;
}
a.mentions {
    color: #F40808;
}
.goTop {
    width:41px;
    height:43px;
    margin-right: 20px;
    opacity: 0.7;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
  }
.goTop:hover {
    opacity: 1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
a.urls-bio {
    text-decoration: none !important;
    margin-right: 15px;
    color: #777;
}
a:hover.urls-bio {
    color: #F00;
}
a.urls-custom {
    text-decoration: none !important;
}
.title-h4 {
    margin: 40px 0 20px;
    font-size: 16px;
    color: #333;
}
.logo {
	width: 124px;
}
.logo:hover {
    opacity: 0.8;
}
.follow_active {
    background: #F40808 !important;
    border: 1px solid #F40808 !important;
}
.btnFollowActive {
    background: #00A13F !important;
    border: 1px solid #169302 !important;
    color: #FFF !important;
}
a.links-ads {
    font-weight: bold;
    margin: 10px 0 0;
    word-break: break-word;
    line-height: normal;
    margin-bottom: 5px;
}
.desc-ads {
    line-height: normal;
    color: #999;
    word-break: break-word;
}
.media-visible {
    border-bottom: 1px solid #ddd;
    overflow: visible !important;
}
.photo-card {
    margin-left: 10px;
    margin-top: -50px;
}
.cover-wall {
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 95px;
}
.photo-card-live {
    text-align: center;
}
.position-relative {
    position: relative;
}
.labelAvatar, .label_cover {
    border-radius: 5px;
    height: 128px;
    position: relative;
    width: 128px;
}
.popout {
    cursor: pointer;
    max-width: 880px;
    display: none;
    padding: 14px 10px;
    background: rgba(0,0,0,0.85);
    color: rgb(255, 255, 255);
    font-size: 12px;
    border-radius: 3px;
    position: fixed;
    top: 75px;
    z-index: 1100;
    overflow: hidden;
    width: 40.857%;
    text-align: center;
    font-weight: bold;
    left: 29%;
    right: 20%;
}
.popout-error {
	 background: rgba(255, 0, 0, 0.85)  !important;
}
#loader_gif_1,
#loader_gif_2 {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    background: url('../img/preload.gif') center center no-repeat #FFF;
    width: 100%;
    height: 100%;
}
.photo-delete {
    width: 100%; height: 100%;
    background: url('../img/delete-photo.png') no-repeat center center #F00;
    cursor: pointer;
}
/* Icons Notifications */
.ico-btn-followed {
    color: #058ABB;
}
.ico-btn-like {
    color: #e74c3c;
}
textarea.textarea-text {
    height: 150px;
    resize: vertical;
    background: #F0F0F0 !important;
    border-color: #DBDBDB;
}
textarea.textarea-text:focus {
     background: #FFF !important;
}
.delete-attach-image {
    cursor: pointer !important;
    margin-top: 10px;
}
.delete-attach-file,
.delete-attach-file-2,
.delete-image,
#deleteBtn {
    cursor: pointer !important;
    margin-top: 7px;
}
.delete-attach-image:hover,
.delete-attach-file:hover,
.delete-attach-file-2:hover,
.delete-image:hover,
#deleteBtn:hover {
    color: #F40808;
}
#previewImage {
    margin-right: 5px;
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-size: cover;
    background-position: center center;
}
@media (min-width: 768px) {
    .tabs-index,
    .responsive-side {
    display: block !important;
  }

  .jumbotron.profileUser {
    padding: 200px 0 25px;
}

.profile-user-over {
    margin-top: -100px !important;
}

  .show-toogle {
      display: none;
  }

  .jumbotron.md {
    padding: 25px 0;
  }

  .modal-sm {
    width: 370px;
  }
}

.li-title {
    border-bottom: 5px solid #C2C2C2;
    margin-bottom: 25px;
}
.color-strong {
    color: #5C5C5C;
}
.btn-like-services {
    margin-bottom: 10px;
}
.noty-media {
    padding: 5px 0;
}
a.tags {
  background-color: #FFF;
  color: #7E7E7E;
  margin-bottom: 8px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border: 1px solid #cacaca;
}
a:hover.tags,
a:focus.tags,
a:active.tags {
   background-color: #F00 !important;
  color: #FFF !important;
  border-color: #F00 !important;
}
.colorPalette {
    height: 30px;
    width: 31px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 70px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    display: inline-block;

}
a:hover.colorPalette {
	 -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
 }
.ico-files {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align:middle;
}
.ico-file-psd {
    background: url('../img/icons-files/psd.png')
}
.ico-file-ai {
    background: url('../img/icons-files/ai.png')
}
.ico-file-eps {
    background: url('../img/icons-files/eps.png')
}
.ico-file-cdr {
    background: url('../img/icons-files/cdr.png')
}
.ico-file-zip {
    background: url('../img/icons-files/zip.png')
}
.ico-file-pdf {
     background: url('../img/icons-files/pdf.png')
}
.ico-file-doc {
     background: url('../img/icons-files/doc.png')
}
.comments-title {
    margin-top: 50px;
}
.media-comments {
    padding-bottom: 15px;
}
textarea.textarea-comments {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px #DDD;
}

.media-body-comments {
    padding: 15px 20px;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 1px 2px rgba(0, 0, 0, 0.07);
}
.media-body-comments:before {
  content: "";
  position: absolute;
  left: 42px;
  top: 17px;
  width: 0px;
  height: 0px;
  border: 10px solid transparent;
  border-right: 10px solid #ffffff;
  border-right-color: #fff;
}
.comments-p {
    line-height: 17px;
    font-size: 14px;
    color: #525252;
    margin: 0;
}
.comments-p a {
    color: #F40808;
}
.small-comment {
    color: #999;
    margin-right: 5px
}
.active-red {
    color: #F40808 !important;
}
a.list-group-item.unread-msg {
  color: #555;
  text-decoration: none;
  background-color: #DFDFDF;
}
.preview-attach {
    width: 80px;
    height: 70px;
    display: block;
    border-radius: 3px;
}
.border-style {
    margin-bottom: 15px;
}
li.active-list > a,
li.active-list > a:hover,
li.active-list > a:focus,
li.active-list > a:active {
    box-shadow: inset 3px 0 0 #F40808 !important;
    -webkit-box-shadow: inset 3px 0 0 #F40808 !important;
}
.ico-no-result {
  color: #777;
  border: 4px solid #CACACA;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  font-size: 60px;
  width: 150px;
  height: 150px;
  display: block;
  line-height: 150px !important;
  margin: 0 auto;
}
.col-right-pd {
    padding-right: 2px;
}
.col-left-pd {
    padding-left: 2px;
}
.btn-padding {
    padding-right: 30px !important;
    padding-left: 30px !important;
}
.loader {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    background: url('../img/preload.gif') center center no-repeat #FFF;
    width: 100%;
    min-height: 70px;
    display: block;
}
.form-li {
    border-bottom: 1px solid #DDD;
}
/* API STYLES */
    h1.title_api {
        margin: 10px 0;
        font-size: 24px;
    }

    .col-pre {
        padding: 10px 5px;
        background: #fff;
        color: #0088E2;
        margin: 10px 0;
        font-size: 14px;
        text-overflow: inherit;
        overflow: visible;
        white-space: normal;
    }

    .col-pre pre {
        text-align: left;
        word-wrap: break-word;
        white-space: pre-line;
        line-height: 18px;
        background: none;
        border: none;
    }

.title-stats {
    color: #fff;
}
.morris-hover-point {
    color: #ddd !important;
    font-weight: bold;
}
.imageAdPreview {
    background-position: center center;
    width: 100%;
    position:absolute;
    background-size: cover;
    top: 0; left;
    height:100%;
}
.iconCheck {
    color: #0BB380;
}

/* options_toogle */
.notfound_auto { text-align: center; text-indent:0; display: block; padding: 4px 25px; color: #666; font-size: 12px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.toogle_search { width: 100%; float: left; padding: 10px 0; margin: 0; }
.toogle_search li { line-height: normal; width: 100%; background: none; padding: 0; white-space: nowrap; }
.toogle_search li a { text-indent:0; display: block; padding: 4px 25px; color: #666; font-size: 12px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.toogle_search li a:hover,
.toogle_search li.selected a {
    background : #F40808;
    text-decoration: none;
    color: #FFF;
 }

#boxLogin {
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #FFF;
    width: 300px;
    position: absolute;
    z-index: 25;
    right: -10px;
    top: 45px;
    border: 1px solid #C4C4C4;
    display: none;
  }

.boxAutoComplete:before {
    position: absolute;
    top: -10px;
    left: 10px;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #C4C4C4;
    border-left: 10px solid transparent;
    content: '';
}

.boxAutoComplete:after {
    position: absolute;
    top: -8px;
    left: 10px;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FFF;
    border-left: 10px solid transparent;
    content: '';
}
.padding-btn {
    padding: 3px 14px !important;
}
.stats-icon {
  position: absolute;
  bottom: 0;
  left: 30%;
  font-size: 44px;
  color: rgba(0, 0, 0, 0.1);
  text-shadow: none;
}
.text-shadow{
    text-shadow: 0 1px #000;;
}
.hoverTr:hover {
    background-color: #f5f5f5;
}

/***************************
 *  Bootstrap Reset
 * *************************
 */
.navbar-inverse {
  background: #FFF;
  border: none;
  margin-bottom: 0;
  border-radius: 0;
}
.navbar-px {
    position: absolute;
    z-index: 100000;
    width: 100%;
}
.jumbotron_set {
    margin-bottom: 40px;
}
/******* MIN 768  **********/
@media screen and (min-width: 768px) {

  .jumbotron {
    padding: 250px 0;
  }

  .searchBar {
      width: 715px;
      margin: 0 auto;
  }

  .jumbotron-bottom {
      padding: 65px 10px;
  }
}

@media screen and (max-width: 991px){

   .border-stats {
    border: 1px solid #DADADA;
    border-right-width: 0;
    border-left: 0;
    border-bottom: 0;
    }

    .line-login:after {
        width: 0px !important;
    }

    .line-login {
        margin-bottom: 40px;
    }

}

/****** MAX 768 ******/
@media screen and (max-width: 768px) {


}

/******* MAX 767 ********/
@media screen and (max-width:767px){

.inlineCounterProfile li {
    margin-bottom: 15px;
    margin-right: 0  !important;
    border-bottom: 1px solid #DDD;
    border-right: none  !important;
    padding-bottom: 10px;
    padding-right: 0  !important;
    width: 100%;
    text-align: center;
}

.inlineCounterProfile li:last-child {
	margin-bottom: 0;
    padding-bottom: 0;
}

.counter-sm {
	text-align: center !important;
}

     .profile-user-over {
      margin-top: -55px !important;
	}

   .navbar-inverse .navbar-collapse {
    background: #121212;
  }

  .m-right {
  	float: left;
  	width: 50%;
  	margin-top: 10px;
  }

  #upload {
  	width: 100%;
  }

  .col-center {
  	text-align: center;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #333 !important;
  }

  .navbar-inverse .navbar-nav > li > a.log-in,
  .navbar-inverse .navbar-nav > li > a:hover.log-in,
  .navbar-inverse .navbar-nav > li > a:focus.log-in,
  .navbar-inverse .navbar-nav > li > a:active.log-in {
    border: none !important;
    border-radius: 0;
    }

    .jumbotron .container {
    /*padding-top: 50px;*/
  }

  .jumbotron-bottom .container {
     padding-top: 0;
  }

  .dropdown-menu.arrow-up:before,
  .dropdown-menu.arrow-up:after {
      display: none !important;
  }

  .navbar-inverse .navbar-nav > .open > .dropdown-menu > li > a {
    color: #FFF  !important;
   }

   .title-dropdown {
        display: inline-block;
    }

    i.dropdown-ic {
        display: inline-block;
    }

    .tabs_index > li {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #CCC;
	}

	.tabs_index > li:last-child,
	.tabs_index > li:first-child  {
    border: none;
	}

}

h1.title-site {
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    color: #FFF;
    text-overflow: inherit;
    overflow: visible;
    white-space: normal;
    font-weight: bold;
    margin-top: 20px !important;
    text-align: center;
}
.subtitle-site {
    color: #FFF;
    text-align: center;
}
#inputSearch {
    padding: 25px 12px;
}
.navbar-inverse .navbar-nav > li > a {
  color: #999;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #999 !important;
}

.navbar-inverse .navbar-nav > li > a.log-in,
.navbar-inverse .navbar-nav > li > a:hover.log-in {
    color: #FFF !important;
    background-color: #F00;
}
.navbar-nav > li > a {
  font-size: 12px;
  font-weight: 700;
}
.navbar-inverse .navbar-collapse {
  border-color: #4E4E4E;
  border-width: 1px;
}

.navbar-inverse .navbar-nav > .open > .dropdown-menu > li > a {
  color: #545454;
  padding: 6px 15px;
}
.navbar-inverse .navbar-nav > .open > .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav > .open > .dropdown-menu > li > a:focus,
.dropdown-menu li.active > a {
  color: #ffffff;
  background-color: #F00;
}
.navbar-inverse .navbar-nav > .open > .dropdown-menu > .divider {
  background-color: #ddd;
  height: 1px;
  margin-left: 0;
  margin-right: 0;
}
.navbar-brand {
    padding: 5px 15px;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #999;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
    border: none;
}
.dropdown-menu {
    background-color: #FFF;
    font-size: 12px;
}
.class-montserrat {
    font-family: 'Montserrat',Helvetica,Arial,sans-serif;
    color: #111;
}
.custom-rounded {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.title-services{
    text-align: center;
}
.title-services > a {
    font-size: 14px;
    color: #111;
}
.jumbotron-bottom {
    background: url('../img/cover.jpg') no-repeat center center #D1D1D1;
    background-size: cover;
    position:relative;

}
.subtitle-color {
    color: #F00;
}

.jumbotron-cover:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(5,5,5,.3);
  left: 0;
  top: 0;
}
.jumbotron-cover-user:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(5,5,5,.1);
  left: 0;
  top: 0;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}
/*** BUTTON MAIN **/
.btn-main,
.btn-main:hover,
.btn-main:active,
.btn-main:focus {
  color: #fff;
  background-color: #F00;
  border-color: #F00;
}
.btn-main:hover {
  opacity: 0.9;
}
.btn-main:active, .btn-main:focus {
   background-image: none;
   outline: 0;
   -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
   box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  opacity: 0.9;
}
.line:after {
    content: "";
    position: absolute;
    bottom: -0.5em;
    left: 50%;
    height: 2px;
    width: 30px;
    margin-left: -15px;
    display: block;
    background-color: #F00;
}
/***************************
 *  Arrow dropdown user
 * *************************
 */
.dropdown-menu.arrow-up:before {
    position: absolute;
    top: -10px;
    right: 10px;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ccc;
    border-left: 10px solid transparent;
    content: '';
}
.dropdown-menu.arrow-up:after {
    position: absolute;
    top: -8px;
    right: 10px;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    content: '';
}
.form-control:focus {
  border-color: #F00;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.login-link {
  color: #000;
  display: block;
  font-size: 13px;
  margin-top: 15px;
  text-align: center;
}
.line-login:after {
    content: "";
    position: absolute;
    bottom: 35%;
    right: 0;
    height: 200px;
    width: 2px;
    margin-left: -15px;
    display: block;
    background-color: #F00;

}
.alert-danger {
  color: #FFFFFF;
  background-color: #FF0000;
  border-color: #FF012A;
}
.alert-warning {
  border-color: #e08e0b;
  background-color: #f39c12 !important;
  color: #FFF;
}
body input,
body select {
 box-shadow: none !important;
 -webkit-box-shadow: none !important;
 -moz-box-shadow: none !important;
}
.form-control-feedback {
    color: #949494;
}
/*** SOCIAL ***/
a.ico-twitter {
    color: #00bae8;
}
a.ico-facebook {
    color: #2c89b6;
}
a.ico-google-plus {
    color: #dd4c39;
}
a.ico-instagram {
    color: #aa7e62;
}
a.ico-linkedin {
    color: #007bb6;
}
.alert-success {
    background-color: #00a65a;
    border-color: #00a65a;
    color: #FFF;
}
.btn-success {
    background-color: #00a65a !important;
}
button.confirm {
   background-color: #00a65a !important;
   border-radius: 3px !important;
   -webkit-border-radius: 3px !important;
}
.btn-lg {
    padding: 10px 30px;
}
.ico_success_cicle {
  color: #FFF;
  border: 4px solid #FFF;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  font-size: 50px;
  width: 100px;
  height: 100px;
  display: block;
  line-height: 100px !important;
  margin: 0 auto;
}
.fa-loader {
    color: #F00;
}
.wrap-loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
}
i.cog-loader {
    vertical-align: middle;
    top: 40%;
    position: relative;
    color: #FFF;
    font-size: 90px;
    -webkit-animation: fa-spin 2s infinite linear !important;
    animation: fa-spin 2s infinite linear !important;
}
i.cog-loader-small {
    vertical-align: middle;
    top: 35%;
    position: relative;
    color: #FFF;
    font-size: 50px;
    left: -20px;
    -webkit-animation-animation: fa-spin 2s infinite reverse linear !important;
    animation: fa-spin 2s infinite reverse linear !important;
}
i.up-bottom {
    padding: 10px 13px;
    background: #ff0000;
    -webkit-border-radius: 50px;
    border-radius: 4px;
    color: #FFF;
    font-size: 20px;
    opacity: 0.7;
}
i.up-bottom:hover {
    opacity: 1;
}
.session-active-cover  {
   padding: 90px 0;
}

.input-dragDrop {
    display: block;
    width: 100%;
    margin: 0 auto 25px auto;
    padding: 25px;
    color: #8d9499;
    color: #97A1A8;
    background: #fff;
    border: 2px dashed #C8CBCE;
    text-align: center;
    -webkit-transition: box-shadow 0.3s,
                        border-color 0.3s;
    -moz-transition: box-shadow 0.3s,
                        border-color 0.3s;
    transition: box-shadow 0.3s,
                        border-color 0.3s;
}
.box-file {
    position: relative;
    overflow: hidden;
}
#titleSite:first-letter {
	background-color: #F00;
	}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #999;
}
.navbar-nav > li > a {
	line-height: 23px;
	 }
.highlight-word-color:last-child {
	 color: #F00;
	 }
.hover-content {
	position: absolute;
	top: 0;
	left;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.65);
	padding: 10px;
	display: none;
	color: #FFF;
}

.title-hover-content {
	color: #FFF;
	font-size: 16px;
    font-weight: 900;
}

.author-label {
	color: #F8F8F8;
	font-size: 14px;
}
.sub-hover {
	position: absolute;
	bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.34);
}
.active > a:hover,
.active > a:focus,
.active > a:active  {
	background-color: #F00 !important;
}
.cursor-off > a {
	cursor: default;
}
.link-category,
a:hover.link-category,
a:focus.link-category,
a:active.link-category {
    font-size: 16px;
    color: #999;
}
.wrapper {
	float: left;
	width: 100%;
	padding: 20px 0;
	position: relative;
	background-color: #2f2f2f;
	border-top: 2px solid #222;
}
.color-white {
	color: #FFF;
}
.color-gray {
	color: #999;
}
.imagesCategory li {
    margin-bottom: 10px;
}
@-webkit-keyframes _spinn{ 0%
{-webkit-transform:rotate(0deg);transform:rotate(0deg)
}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}
@keyframes _spinn{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}

.spinner:before {
	content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .6;
}
.spinner:after {
	z-index: 2;
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
    -webkit-transition: all .75s ease 0s;
    transition: all .75s ease 0s;
    border-radius: 100%;
    border-right: 4px solid #F00;
    border-top: 4px solid #ddd;
    border-left: 4px solid #ddd;
    border-bottom: 4px solid #ddd;
    -webkit-animation: _spinn .45s infinite linear;
    animation: _spinn .45s infinite linear;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
}
.spinner {
	height: 30px;
    width: 30px;
}
.facebook{
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
    color: #FFF;
}
a:hover.facebook,
a:focus.facebook {
    background-color: #2d4373;
    border-color: rgba(0,0,0,0.2);
    color: #FFF;
}
.twitter{
    background-color: #55acee;
    border-color: rgba(0,0,0,0.2);
    color: #FFF;
}
a:hover.twitter,
a:focus.twitter {
    background-color: #2795e9;
    border-color: rgba(0,0,0,0.2);
    color: #FFF;
}

.filer-input-dragDrop {
    display: block;
    width: 100%;
    margin: 0 auto 25px auto;
    padding: 200px 0;
    color: #8d9499;
    color: #97A1A8;
    cursor: pointer;
    background: #fff;
    border: 2px dashed #C8CBCE;
    text-align: center;
    -webkit-transition: box-shadow 0.3s,
                        border-color 0.3s;
    -moz-transition: box-shadow 0.3s,
                        border-color 0.3s;
    transition: box-shadow 0.3s,
                        border-color 0.3s;
                        overflow: hidden;
}
.filer-input-dragDrop:hover,
.hoverClass {
	border-color: #868686;
}
.filer.dragged .filer-input-dragDrop {
    border-color: #aaa;
    box-shadow: inset 0 0 20px rgba(0,0,0,.08);
}

.filer.dragged .filer-input-dragDrop * {
    pointer-events: none;
}

.filer.dragged .filer-input-icon {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.filer.dragged .filer-input-text,
.filer.dragged .filer-input-choose-btn {
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.filer-input-dragDrop .filer-input-icon {
    font-size: 70px;
    margin-top: -10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.filer-input-text h3 {
    margin: 0;
    font-size: 18px;
}

.filer-input-text span {
    font-size: 12px;
}

.filer-input-choose-btn {
    display: inline-block;
    padding: 8px 14px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
    font-weight: bold;
    color: #8d9496;
    border-radius: 3px;
    border: 1px solid #c6c6c6;
    vertical-align: middle;
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.05);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.filer-input-choose-btn:hover,
.filer-input-choose-btn:active {
    color: inherit;
}

.filer-input-choose-btn:active {
    background-color: #f5f5f5;
}
.previewPhoto {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #FFF;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	/*background-image: url('http://localhost/gostock/public/uploads/16.jpg');*/
	display: none;
	cursor: default;
}
.btn-remove-photo {
	position: absolute;
	top: 20px;
	right: 20px;
}
.input_search {
    border: none !important;
    background-color: #F1F1F1;
    border-radius: 0 !important;
    height: 42px;
    padding: 8px 12px;
}
#_buttonSearch {
   color: #DDD;
    width: 35px;
    background: none;
    height: 35px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    outline: none;
}
#buttonSearch:hover,
#buttonSearch-2:hover,
#_buttonSearch:hover {
    color: #999;
}
.date-color {
	color: #969696;
}
.container-user {
	background: #fff;
    margin-bottom: 20px;
    border-radius: 3px;
    padding: 30px 15px 30px 30px;
    box-shadow: 0 1px 2px #e8e8e8;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.avatar-user {
	width: 100px;
	height: 100px;
	display: inline-block;
	margin-right: 15px;
}
.data-user h1 {
	font-size: 20px;
	margin-top: 0;
}
h4.data-user a,
a.text-username {
	color: #333;
}
a:hover.text-username {
	text-decoration: none;
	color: #F00;
}
.list-data-user li,
.list-data-user li a {
	color: #bdbdbd;
	margin-bottom: 3px;
}
.count-data {
	font-size: 22px;
}
.data-refer {
	font-size: 15px;
	color: #bdbdbd;
}
div.m-right:last-child {
  	border-left: 1px solid #dcdcdc;
  }
.data-stats {
	padding-right: 25px;
    display: table-cell;
    vertical-align: middle;
}
.pagination {
	margin: 0 auto !important;
	display: table;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #b6b6b6;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 0 3px 5px;
    border-radius: 3px
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #ff0000;
  border-color: #ff0000;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #fff;
  background-color: #ff0000;
  border-color: #ff0000;
}
.nav-filters {
	min-height: inherit;
	background-color: #eaeaea;
	border-radius: 0;
	border: none;
	margin: 0;
}
.nav-filters ul {
	padding: 10px 0 0;
	display: table;
	margin: 0 auto;
}

.nav-filters ul li a {
	font-size: 15px;
}
.btn-collapse {
	border-right: none  !important;
	border-left: none  !important;
	border-radius: 0 !important;
	width: 100%;
	margin: 0 !important;
}
.container-paginator {
	margin-top: 30px !important;
    float: left;
    width: 100%;
}
.none-overflow {
	overflow: visible !important;
}
ul.list-stats{
	display: table;
	margin: 0;
	width: 100%;
}
ul.list-stats li {
	padding: 11px 14px !important;
    display: table-cell !important;
}
ul.list-stats li:first-child {
	    border-right: 1px solid #e3e3e3;
}

ul.list-stats li:last-child {
	    border-left: 1px solid #e3e3e3;
}
.description {
	margin: 20px 0;
}
.data-xs-img {
	background: none;
	color: #999;
}
a:hover.btnLike,
a:focus.btnLike,
a:active.btnLike,
a:hover.btn-collection,
a:focus.btn-collection,
a:active.btn-collection {
	text-decoration: none;
}

.btn-collection {
	display: block;
}
.btnLike {
	display: block;
}
.title-image {
	color: #333;
}
#downloadBtn {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.dropdown-menu.arrowDownload:before {
    position: absolute;
    top: -10px;
    right: 45%;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(0, 0, 0, .15);
    border-left: 10px solid transparent;
    content: '';
}
.dropdown-menu.arrowDownload:after {
    position: absolute;
    top: -8px;
    right: 45%;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    content: '';
}
.tooltip-inner {
  max-width: 200px;
  padding: 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #F00;
  border-radius: 4px;
  font-family: Arial, sans-serif;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #F00;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: #F00;
}
.tooltip.top-right .tooltip-arrow {
  right: 5px;
  bottom: 0;
  border-width: 5px 5px 0;
  border-top-color: #F00;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #F00;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #F00;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #F00;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #F00;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #F00;
}
.navBar {
	box-shadow: 0 1px 1px #DDD;
}
.fa-spin {
    -webkit-animation: fa-spin 1s infinite linear !important;
    animation: fa-spin 1s infinite linear !important;
}
.alert-small {
	padding: 6px 15px;
}
h1.title-sm {
    font-size: 40px;
}

.wordSpacing {
	word-spacing: 5px;
}

.wrap-center {
    position: relative;
    max-width: 650px;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus  {
	background-color: #232a29;
    border-color: transparent;
}
.alert-fonts {
	font-size: 14px !important;
}
.delete-notifications {
	cursor: pointer;
}
.alert-loggin {
	border: 1px solid #ddd;
	color: #999;
}
.header-colors {
    background: url('../img/header_colors.jpg') no-repeat center center #D1D1D1;
    background-size: cover;
    position:relative;
}

.header-cameras {
    background: url('../img/header_cameras.jpg') no-repeat center center #D1D1D1;
    background-size: cover;
    position:relative;
}
.line-sm:after {
    content: "";
    position: absolute;
    bottom: -0.3em;
    left: 50%;
    height: 2px;
    width: 30px;
    margin-left: -15px;
    display: block;
    background-color: #F00;
}
.inlineCounterProfile {
    width: 100%;
    margin-top: 20px;
}
.inlineCounterProfile li {
	margin-right: 15px;
    border-right: 1px solid #DDD;
    padding-right: 15px;
}
.inlineCounterProfile li:last-child {
	margin-right: 0;
    border: none;
    padding-right: 0;
}
.counter-sm {
    color: #333;
    font-weight: bold;
    font-size: 17px !important;
    line-height: 15px;
}
.nav > li > a.link-nav-user {
	padding: 0;
}

.nav > li > a:hover.link-nav-user,
.nav > li > a:active.link-nav-user,
.nav > li > a:focus.link-nav-user {
	background: none;
	text-decoration:underline;
	color: #777;
}
a.back-profile-link {
	color: #FFF;
}
.collection-item {
	width: 255px;
	height: 200px;
	display:block;
	border-radius: 3px;
}
.likeComment {
	cursor: pointer;
	color: #F00;
	margin-right: 5px;
}
.deleteComment {
	cursor: pointer;
}
.like-small {
	color: #949494;
}

.like-small:hover {
	color: #333;
}
.dropdown-menu > li > a {
	white-space: normal;
}

/******** Version 1.3 ***********/
/* MAX 767 */
@media screen and (max-width:767px){

.container-user .media-left {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
.container-user .media-body {
    width: 100%;
    display: block;
    text-align: center;
 }
.list-data-user {
  text-align: center;
}

}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/******** Version 2.0 ***********/
.showBanner {
    position: fixed;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.9);
    color: #FFF;
    bottom: 0;
    padding: 10px;
}
.arrow-down:before {
  content: "";
    position: absolute;
    bottom: -8px;
    left: 15px;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    border-radius: 20px 0 3px 0;
    background: #fff;
    z-index: -1;
}
.load-btn {
  color: transparent !important;
  position: relative !important;
}
.spin-btn:after {
  z-index: 2;
	content: "";
	height: 25px;
	width: 25px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -15px 0 0 -10px;
	-webkit-transition: all .75s ease 0s;
	transition: all .75s ease 0s;
	border-radius: 100%;
	border-right: 4px solid #ababab;
	border-top: 4px solid #ddd;
	border-left: 4px solid #ddd;
	border-bottom: 4px solid #ddd;
	-webkit-animation: _spinn .45s infinite linear;
	animation: _spinn .45s infinite linear;
	-webkit-transform-origin: center;
	transform-origin: center;
	opacity: 1;
}

li.dropdown > a > i.ion-chevron-down:before {
  transition: all 200ms linear;
}

li.dropdown.open > a > i.ion-chevron-down:before {
  transform: rotate(180deg);
}
.link-lang {
  padding: 6px 10px;
  border: 1px solid #DDD;
  border-radius: 4px;
}
a.link-lang:hover,
a.link-lang:active,
a.link-lang:focus {
  text-decoration: none;
  color: #999;
}
.padding-20 {
  padding: 20px;
}
.wrap-center {
    position: relative;
    max-width: 750px;
}

.dropdown-menu > li > span.balance {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
@media screen and (max-width: 767px) {
.dropdown-menu > li > span.balance {
    color: #FFF !important;
}
}
.sm-currency-code {
  font-size:10px !important;
}

/******** Version 2.2 ***********/
.d-none {
  display: none !important;
}
@media screen and (min-width: 768px) {
  .justify-list-center {
    display: flex;
    justify-content: center;
  }
}
